twitter post generator.json
{
  "name": "twitter post generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -32
      ],
      "id": "cae47554-f916-4407-9bb4-d4537626a94d",
      "name": "When chat message received",
      "webhookId": "10f723f2-694c-455e-8d2c-2b3acc18a116"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. I will give you a title or topic. Your job is to write a tweet that sounds like a news update but is insightful and educational.\n\nKeep it short, clear, and professional.\n\nMake it sound like breaking news or a key announcement.\n\nMake sure it is educational and factual, not clickbait.\n\nUse simple language, 1–2 short sentences.\n\nAdd 1–2 relevant hashtags to improve reach.\n\nDo not include personal opinions, just facts or insights."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        -32
      ],
      "id": "c4b0cc6b-71d4-4067-a6ba-9566b6ebd44e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "ce249d42-ccba-4b38-bc12-f87be22d2392",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1sLMWA49pRxYlDWD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        224
      ],
      "id": "8b12ac6b-bbb1-433c-bb49-faba1877ce0b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        432,
        -32
      ],
      "id": "62c9a684-9994-4bf4-a0d7-0f40e7fb6f45",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "t903jMQdcKAceThk",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "f93954c5-ea9b-4621-98fb-2b57c4bf2b0f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "ZLGVXnY0GEciiDYF",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1035431-03a5-4217-9863-176d0cea4e83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4019fd7f7941532809a0d9f3ab1595cfebfc95849dae58d6e5ab8c3ff7eb25d"
  },
  "id": "bps3OUUNnkkbpD4w",
  "tags": []
}